library/
temp/
local/
*.log
*.sln
*.csproj
*.pidb
*.unityproj
*.suo
*.DotSettings.user
.DS_Store
ehthumbs.db
Thumbs.db
*UnityVS.meta
.idea/
Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta
.vscode/
.vsconfig
.vs/
obj/
Build/Bin/
~$*
BuildAB/
FGUIProject/.objs/metas/
FGUIProject/.objs/workspace.json
/Assets/BuildReport
*. BuildReport.meta
/ProjectSettings/ProjectVersion.txt
Assets/FindReference2/
Assets/FindReference2.meta
Assets/FR2_Cache.asset
Assets/FR2_Cache.asset.meta
